/* profile.module.css */

.profileContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1100px) {
  .profileContainer {
    flex-direction: column;
    align-items: center;
  }
}

.formGroup {
  margin-bottom: 20px;
  margin-left: auto;
  width: 100%;
  height: 400px;
  padding-bottom: 4%;
  display: flex;
  flex-direction: column;
  background-color: #fbf9f9;
  border-radius: 10px;
}

.highlight {
  background-color: #337774;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.accountDetails .formFields > div > p {
  margin-top: 40px;
  margin-left: 15px;
  white-space: nowrap;
}

.accountHeader,
.personalHeader {
  padding: 10px 15px;
}

.personalDetails {
  width: 70%;
  margin-bottom: 80px;
}

.containerTitle {
  color: #fff;
  font-size: 23px;
  font-family: 'Lato';
  font-weight: 600;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input[type='text'],
.formGroup input[type='email'],
.formGroup input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formGroup button {
  clear: both;
  margin-top: 20px;
  padding: 1px 20px;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.formFields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  font-family: 'Lato';
  margin-top: 10px;
  margin-left: 40px;
}

.fieldTitle {
  font-weight: bold;
  margin: 3vh 0vw 1.5vh 0vw;
  white-space: nowrap;
}

.editButton {
  font-size: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
  font-size: 27px;
  color-scheme: 'white';
}

.editButton:hover {
  text-decoration: underline;
}

.accountHeader,
.personalHeader {
  padding: 10px 0 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formDelete {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}
