/* profile.module.css */

.profileContainer {
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.infoGroup {
  margin-bottom: 20px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: #fbf9f9;
  border-radius: 10px;
  max-width: 45%;
}

.infoHeader{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #337774;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.infoTitle {
  color: #fff;
  font-size: 23px;
  font-family: 'Lato';
  font-weight: 600;
}

.infoFields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Lato';
  margin-left: 40px;
  padding: 2%;
  padding-bottom: 3vh;
}

.fieldTitle {
  font-weight: bold;
  margin: 3vh 0vw 1.5vh 0vw;
  white-space: nowrap;
}

.editButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
  font-size: 27px;
  color-scheme: 'white';
}

.editButton:hover {
  text-decoration: underline;
}

.deleteButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

@media (min-width: 1000px) {
  .leftInfoGroup {
    max-width: 30% !important;
  }
  
  .rightInfoGroup {
    max-width: 60% !important;
  }

}

@media (max-width: 1000px) {

  .infoFields {
    grid-template-columns: 1fr !important;
  }
}

@media (max-width: 700px) {
  .profileContainer {
    flex-direction: column;
    align-items: center;
  }
  
  .infoGroup {
    max-width: 100% !important;
  }
}