@import '../fonts/fonts.css';
.background{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}
.main{
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
	width: 80vw;
	height: 90vh;
    background-color: white;
    border-radius: 25px;
    font-family: 'Mulish';
    font-weight: bolder;
    font-size: 20px;
    z-index: 10;
}

.topColor{
    height: 15%;
    background-color: #a3caee;
    border-radius: 25px 25px 0px 0px
}

.formBody{
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}


.form{
    margin-top: 10%;
}

.input{
    width: 75%;
    margin: 4%;
    padding: 1.5%;
    font-size: 20px;
    font-family: 'Mulish';
    font-weight: lighter;
    border-radius:  7px;
    border: none;
    outline: 1px solid lightgrey;
    resize: none;
}

.halfInput{
    width: 32%;
    margin: 4%;
    padding: 1.5%;
    font-size: 20px;
    font-family: 'Mulish';
    font-weight: lighter;
    border-radius:  7px;
    border: none;
    outline: 1px solid lightgrey;
}

.button{
    width: 50%;
    margin: 4%;
    padding: 1.5%;
    font-size: 20px;
    font-family: 'Mulish';
    font-weight: bold;
    border-radius:  7px;
    border: none;
    outline: 1px solid black;
    resize: none;
    background-color: #a3caee;

}
.button:hover{
    background-color: #8db9e2
}

.totalAccountCreated{
    position: absolute;
    top: 7%;
    left: 37%;
    z-index: 20;
    background-color: white;
    width: 26%;
    height: 45%;
    border-radius: 20px;
}

.successWindow{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 19;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 57, 57, 0.325)
}

.checkmark{
    max-width: 44%;
    height: auto;
    margin-left: 28%;
    margin-top: 5%;
}

.successText{
    text-align: center;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 20px;
    margin: 5%;
}

.successExplanation{
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}

.returnToCalendar{
    background-color: #5773c7;
    font-family: 'Inter';
    color: white;
    font-size: 15px;
    border-radius:  10px;
    border: none;
    padding: 1.5% 8% 1.5% 8%;
}

.returnToCalendar:hover{
    background-color: #455da7;
}