* {
    margin: 0px;
}

:root {
  --fc-small-font-size: .85em;
  --fc-page-bg-color: #;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #4D2D18;

  --fc-button-text-color: #CABA9C;
  --fc-button-bg-color: #8A6240;
  --fc-button-border-color: #4D2D18;
  --fc-button-hover-bg-color: #4D2D18;
  --fc-button-hover-border-color: #222021;
  --fc-button-active-bg-color: #4D2D18;
  --fc-button-active-border-color: #4D2D18;

  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: #4C6444;
  --fc-now-indicator-color: red;
}