.page {
  width: 90%;
  margin: auto;
  overflow-x: hidden;
}

.auditPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filtering {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}

.auditPreview {
  width: 100%;
  margin: auto;
  padding: 10px;
}

.auditIcon {
  width: 50px;
  height: auto;
  border-radius: 50%;
  flex-shrink: 0;
}

/* everything in audit preview */
.auditContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

/* text in audit preview */
.auditText {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.auditList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.divider {
  margin: 10px;
  border: 1px solid grey;
}
