.eventCard {
  background-color: #e7dabf;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  height: 250px;
}

.eventCard h2 {
  color: #2b2b34;
  font-size: 1.2vw;
  font-weight: bold;
}

.eventCard h3 {
  font-size: 0.7rem;
  font-weight: 500;
}

.eventCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.imageContainer {
  display: flex;
  width: 50%;
  justify-content: center;
}

.imageWrapper {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.infoContainer {
  width: 60%;
}

.date {
  padding: 1vw 0;
}

@media (max-width: 1100px) {
  .eventCard h2 {
    font-size: 1rem;
  }

  .eventCard h3 {
    font-size: 0.6rem;
  }

  .imageWrapper {
    width: 125px;
    height: 125px;
  }

  .imageContainer {
    display: flex;
    width: 50%;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .eventCard {
    width: 65vw;
  }
}
