.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 15vw;
}

.cardContainer {
    width: 80%;
}

.loadingText {
    position: absolute;
    left: 50%;
}

.eventsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 0;
    list-style: none;
}
.createAndSearchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.yellowButton {
    background-color: #ecb94a;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.yellowButton:hover {
    background-color: #d6a33e;
    cursor: pointer;
}

.searchWrapper {
    position: relative;
    display: flex;
    width: fit-content;

}

.searchBar {
    font-weight: bold;
    font-size: 16px;
    color: #337774;
    border: 2px solid #337774;
    border-radius: 10px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 0px;


}
.filterContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;

}
.filterHeader {
    margin-left: 0px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}
.sortSelect {
    background-color: white;
    color: #333;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    width: fit-content;
}

.sortSelect:focus {
    outline: none;
    border-color: #aaa;
}

.checkboxLabel {
    font-size: 15px;
    white-space: nowrap;
}




@media (max-width: 1200px) {
    .mainContainer {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .eventsList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
        padding: 0;
        list-style: none;
    }

    .cardContainer {
        width: auto;
    }

    .sidebar {
        width: 100%;
        margin-left: 0;
        align-items: center;
        gap: 10px;
    }

    .filterGroupContainer {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 50px;

    }

}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        margin-left: 0;
        align-items: center;
    }

    .eventsList {
        grid-template-columns: 1fr;
        align-items: center;
    }

    .searchBar,
    .sortSelect {
        padding: 5px;
        font-size: 12px;
    }
    .filterHeader {
        font-size: 12px;
    }
    .checkboxLabel {
        font-size: 12px;
    }

    .checkBoxes input[type="checkbox"] {
        margin-right: 5px;
    }
}
