/* common style for collapsed and non-collapsed */
.sidebar {
  width: 225px;
  height: 100vh;
  text-align: center;
  transition: width 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h1 {
  padding: 20px 50px;
}

.adminOptions ul {
  padding-inline-start: 0;
  text-align: left;
}

.adminOptions li {
  list-style: none;
}

.adminOptions li:hover {
  background-color: #3498db; /* Lighter color on hover */
}

.adminOptions ul li a {
  color: black;
  text-decoration: none;
}

.option {
  padding: 10px;
  margin: 0 10px;
  padding: 30px 0;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  transition: color 0.3s;
  cursor: pointer;
}

.option p {
  margin-left: 10px;
}

.option:hover {
  color: white; /* Text color on hover */
}

.currentOption {
  background-color: #3498db;
}

.toggleButton {
  display: inline-block;
  margin-top: 20px;
  margin-left: 80%;
  text-align: right;
  cursor: pointer;
}

/* when slider is collapsed */
.collapsedSidebar {
  width: 55px;
  margin: 1px;
  padding: 0px;
}

.collapsedSidebar .option {
  padding: 20px 0;
}

.collapsedSidebar .option p {
  padding-left: 0px;
}

.collapsedSidebar .toggleButton {
  text-align: center;
}

.collapsedSidebar .toggleButton {
  margin-left: 0;
}

/* option button */
.option {
  font-weight: normal; /* Reset font weight on regular state */
}

.option:hover {
  font-weight: bold;
}

/* mobile view */
@media (max-width: 768px) {
  .collapsedSidebar {
    box-shadow: 0px 0 0px rgba(0, 0, 0, 0.1);
  }
}
