.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tableContainer {
    font-weight: bold;
    margin: 0 13%;
    overflow: auto;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    margin: 0 13% 25px;
}

.innerButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
}

.yellowButton {
    padding: 8px 20px;
    background-color: #e0af48;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 50px;
    white-space: nowrap;
}

.yellowButton:hover {
    background-color: #c19137;
    cursor: pointer;
}

.viewDetails {
    color: darkgray;
    text-decoration: underline;
    cursor: pointer;
}

.viewGroupsContainer{
    margin-left: 50px;
    align-content: center;
}

.searchBar {
    font-weight: bold;
    padding: 5px 10px 5px 20px;
    border: 1.5px solid #337774;
    border-radius: 10px;
    width: 250px;
}

.searchWrapper {
    position: relative;
    display: flex;
    width: fit-content;
}

.customTable {
    width: 100%;
    border-collapse: collapse;
}

.customTable th {
    border-bottom: 2px solid #e2e8f0;
    padding-bottom: 10px;
}

.customTable td {
    padding: 25px;
}

.pageCountContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 32px;
}

.pageButton {
    width: 100px;
}

@media (max-width: 1000px) {
    .buttonContainer {
        align-items: center;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .yellowButton {
        padding: 8px 20px;   
    }


    .tableContainer {
        font-size: 0.7rem;
        height: 600px;
        overflow: auto;
    }

    .tableContainer {
        font-size: 0.8rem;
        margin: 0 3vw;
    }

    .tableContainer td,
    .tableContainer th {
        padding: 8px;
    }

    .searchBar {
        width: 150px;
        height: 37px;
        padding: 5px 10px 5px 20px;
    }

    .searchWrapper {
        width: 170px;
        margin: -20px;
    }
}

@media (max-width: 450px) {
    .innerButtons {
        align-items: center;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .yellowButton {
        margin: 0;
    }

    .viewGroupsContainer {
        margin: 0;
    }

    .searchWrapper {
        margin: 0px;
    }
    .searchBar {
        width: 145px;
    }
    

    .selectContainer {
        margin-top: 10px;
    }
}
