.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tableContainer {
  font-weight: bold;
  margin: 0 13%;
  overflow: auto;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 13% 25px;
}

.innerButtons {
  display: flex;
  align-items: center;
  gap: 45px;
}

.yellowButton {
  padding: 8px 30px;
  background-color: #ecb94a;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 30px;
}

.yellowButton:hover {
  background-color: #d6a33e;
  cursor: pointer;
}

.viewDetails {
  color: darkgray;
  text-decoration: underline;
  cursor: pointer;
}

.searchBar {
  font-weight: bold;
  padding: 5px 10px 5px 20px;
  border: 1.5px solid #337774;
  border-radius: 10px;
  width: 250px;
}

.searchWrapper {
  position: relative;
  display: flex;
  width: fit-content;
}

.customTable {
  width: 100%;
  border-collapse: collapse; 
}

.customTable th {
  border-bottom: 2px solid #e2e8f0;
  padding-bottom: 10px;
}

.customTable td {
  padding: 25px;
}

@media (max-width: 950px) {
  .buttonContainer {
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;
    font-size: small;
  }

  .yellowButton {
    width: 160px;
    padding: 8px 20px;
    margin-right: 50px;
  }

  .tableContainer {
    font-size: 0.7rem;
    height: 600px; 
    overflow: auto;
  }

  .tableContainer {
    font-size: 0.8rem;
    margin: 0 3vw;
  }

  .tableContainer td, .tableContainer th {
    padding: 8px;
  }

  .searchBar {
    width: 140px;
    height: 37px;
    padding: 5px 10px 5px 20px;
  }
}
