.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.tableContainer {
  font-weight: bold;
  margin: 0 5vw;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 5vw 25px;
}

.innerButtons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.yellowButton {
  padding: 8px 30px;
  background-color: #ecb94a;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 30px;
}

.yellowButton:hover {
  background-color: #d6a33e;
  cursor: pointer;
}

.viewDetails {
  color: darkgray;
  text-decoration: underline;
}

.searchBar {
  font-weight: bold;
  color: black;
  padding: 5px 20px 5px 70px;
  border: 1.5px solid #337774;
  border-radius: 10px;
  width: 100%;
}

.searchWrapper {
  position: relative;
  display: flex;
  width: fit-content;
}

.filter {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
}

.filter:focus {
  outline: none;
  border-color: #337774;
}

@media (max-width: 980px) {
  .searchBar {
    padding: 5px 10px 5px 20px;
  }

  .mobileHide {
    display: none;
  }
}

@media (max-width: 880px) {
  .buttonContainer {
    flex-direction: column;
    gap: 10px;
    font-size: small;
  }

  .yellowButton {
    padding: 8px 20px;
  }

  .tableContainer {
    font-size: 0.7rem;
  }

  .tableContainer {
    font-size: 0.8rem; 
    margin: 0 3vw; 
  }

  .tableContainer td, .tableContainer th {
    padding: 8px; 
  }
}
