.body {
    margin: 0;
    padding: 0;
    background-color: #2b2b33;  
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

.navbar {
    height: 60px;
    background-color: #2b2b33;
    position: relative;
    z-index: 9999;  
}

.nav_left {
    color: #e0af48;
    padding-left: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.greeting {
    float: right;
    margin-left: 1rem;
    letter-spacing: normal;
}

.menu_icon {
    display: none;
    color: #e0af48;
}

.close_icon {
    display: none;
    color: #e0af48;
}

.nav_elements {
    text-align: right;
    letter-spacing: normal;
    right: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}

.nav_elements ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav_elements ul li {
    margin-right: 20px;
    margin-left: 20px;
    white-space: nowrap;
}

.nav_elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: #e0af48;
    text-decoration: none;   
}

.nav_elements ul a:hover {
    text-decoration: underline;    
}

.nav_elements ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;   
}

.nav_elements ul button {
    font-size: 16px;
    font-weight: 400;
    color: #e0af48;
    text-decoration: none;
}

.nav_elements ul button.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
}

 .nav_elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
} 

.nav_right {
    color: #e0af48;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
}

.nav_right ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav_right ul a:hover {
    text-decoration: underline;
}

.nav_right ul li:not(:last-child) {
    margin-right: 10px;
}

@media (max-width: 1280px) {
    .nav_elements ul a {
        font-size: 14px;
    }
    .nav_elements ul li {
        margin-right: 20px;
        margin-left: 20px;
    }
    .greeting {
        font-size: 14px;
    }
    .nav_right ul {
        font-size: 14px;
    }
    .nav_right ul li:not(:last-child) {
        margin-right: 10px;
    }
}

@media (max-width: 1180px) {
    .nav_elements ul li {
        font-size: 14px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .nav_right ul {
        font-size: 14px;
    }
}

@media (max-width: 1100px) {
    .nav_elements ul li {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
    }
    .nav_right ul {
        font-size: 12px;
    }

}

@media (max-width: 1010px) {
    .menu_icon {
        display: block;
        cursor: pointer;
        margin-right: 10px;
    }
    .nav_elements {
        overflow: hidden;
    }
    .nav_elements ul {
        display: none;   
    }

    .nav_elements.active {
        width: 100%;
        position: absolute;
        top: 60px;
        background-color: #2b2b33;
        height: 60vh;
    }
    

    .nav_elements.active ul {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 0px;        
    }

    .nav_elements.active ul li {
        margin-left: 0px;
        margin-top: 20px;
        text-align: left;       
    }
    
    .nav_right {
        display: none;
    }
    .nav_right.active {
        display: flex;
        position: absolute;
        top: 60vh;
        left: 50px;   
    }
    
    .nav_right.active ul {
        display: flex;
    }

    .nav_right.active ul li {
        text-align: right;
        margin-top: 5px;
        margin-right: 10px; 
    }
    
    .menu_icon.active {
        display: none;
    }
    .close_icon.active {
        display: block;
        cursor: pointer;
        margin-right: 10px;
    }
}
