.body {
  margin: 0;
  padding: 0;
  background-color: #2b2b33;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  font-weight: 600;
  max-width: 100%;
}

.navbar {
  height: 60px;
  background-color: #2b2b33;
  position: sticky;
  z-index: 9999;
  width: 100%;
}

.nav_left {
  color: #e0af48;
  padding-left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.greeting {
  float: right;
  margin-left: 1rem;
  letter-spacing: normal;
}

.menu_icon {
  display: none;
  color: #e0af48;
}

.close_icon {
  display: none;
  color: #e0af48;
}

.nav_elements {
  text-align: right;
  letter-spacing: normal;
}

.nav_elements ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav_elements ul li {
  margin-right: 20px;
  margin-left: 20px;
  white-space: nowrap;
}

.nav_elements ul a {
  font-size: 16px;
  color: #e0af48;
  text-decoration: none;
}

.nav_elements ul a:hover {
  text-decoration: underline;
}

.nav_right {
  color: #e0af48;
  padding-right: 1rem;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  justify-content: flex-end;
}

.nav_right ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav_right ul a:hover {
  text-decoration: underline;
}

.nav_right ul li:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 1350px) {
  .nav_elements ul a {
    font-size: 14px;
  }
  .nav_elements ul li {
    margin-right: 20px;
    margin-left: 20px;
  }
  .greeting {
    font-size: 14px;
  }
  .nav_right ul {
    font-size: 14px;
  }
  .nav_right ul li:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 1230px) {
  .nav_elements ul li {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .nav_right ul {
    font-size: 14px;
  }
}

@media (max-width: 1150px) {
  .nav_elements ul li {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
  }
  .nav_right ul {
    font-size: 14px;
  }
}

@media (max-width: 1100px) {
  .menu_icon {
    display: block;
    cursor: pointer;
    margin-right: 10px;
  }
  .nav_elements {
    overflow: hidden;
  }
  .nav_elements ul {
    display: none;
  }

  .nav_elements.active {
    width: 100%;
    position: absolute;
    top: 60px;
    background-color: #2b2b33;
    height: 400px;
  }

  .nav_elements.active ul {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 0px;
  }

  .nav_elements.active ul li {
    margin-top: 20px;
    text-align: left;
  }

  .nav_right {
    display: none;
  }

  .nav_right.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 800px;
    margin-left: 50px;
  }

  .nav_right.active ul {
    flex-direction: row;
    align-items: flex-start;
  }

  .nav_right.active ul li p {
    text-align: left;
    font-size: 14px;
  }

  .menu_icon.active {
    display: none;
  }

  .close_icon.active {
    display: block;
    cursor: pointer;
    margin-right: 10px;
  }
}
