.inputForm{
    background-color: #F4F4F4;
    padding: 20px 25px 20px 30px;
    margin-top: 1%;
    margin-right: 3%;
    width: 48.5%;
    border-radius: 10px;
}
.inputZipcode{
    background-color: #F4F4F4;
    padding: 20px 25px 20px 30px;
    margin-top: 1%;
    width: 48.5%;
    border-radius: 10px;
}

.inputSignature{
    background-color: #F4F4F4;
    padding: 20px 25px 20px 30px;
    width: 100%;
    border-radius: 10px;
}

.dependentTable{
    background-color: #F4F4F4;
    padding: 20px 25px 20px 30px;
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
}

.formHeading{
    font-size: 20px;
    margin-top: 1.5%;
    margin-bottom: 1%;
    color: #9C9C9C;
}

.addDependent{
    font-size: 13px;
    margin-top: 15px;
}