.mainContainer h2 {
  font-size: 2rem;
  padding-bottom: 50px;
}

.eventsList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: left;
}