@font-face {
    font-family: 'Inter';
    src: url('static/Inter-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Inter';
    src: url('static/Inter-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal; 
}

@font-face {
    font-family: 'Lato';
    src: url('static/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Lato';
    src: url('static/Lato-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal; 
}

@font-face {
    font-family: 'Lato';
    src: url('static/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal; 
}